@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Lora&display=swap');

*{
    font-family: 'DM Sans';
    margin: 0;
}
body{
    overflow-x: hidden;
    background-color: rgb(82, 74, 74);
}
.mainPage-div{
    height: 1000vh;
}
.fixed-containers{
    display: flex;
    font-size: 4vh;
    color: white;
    font-size: 5vh;

}
.mainPage-name{
    top:2vh;
    left : 2vw;
    position: fixed;
    z-index: 2;
    background-color: rgb(82, 74, 74);
    padding: 1vh 1vw;
    filter: drop-shadow(0 0 2em #646cffaa);
    border-radius: 2vh;

}

.mainPage-routes-section{
    top : 2vh;
    right : 2vw;
    position: fixed;
    z-index: 2;
    background-color: rgb(82, 74, 74);
    padding: 1vh 1vw;
    filter: drop-shadow(0 0 2em #64ff9faa);
    border-radius: 2vh;
    /* opacity: 0.8; */
}

.mainPage-socialMedia{
    bottom: 2vh;
    left: 2vw;
    position: fixed;
    z-index: 2;
    background-color: rgb(82, 74, 74);
    padding: 1vh 1vw;
    filter: drop-shadow(0 0 2em #646cffaa);
    border-radius: 2vh;
}
.mainPage-routes-section p{
    left: 2vw;
}
.mainPage-country{
    bottom: 2vh;
    right: 2vw;
    position: fixed;
    z-index: 2;
    background-color: rgb(82, 74, 74);
    padding: 1vh 1vw;
    filter: drop-shadow(0 0 2em #97e280aa);
    border-radius: 2vh;
}

.mainPage-photo-div img{
    height: 130vh;
    width: auto;
    transform: translate(-50% , 0);
    left: 50%;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    overflow: hidden;
    /* transition: all 0.1s ease-out; */
}

.heading{
    transform: translate(-50%,-50%);
    position: absolute;
    top: 70%;
    left: 50%;
    background-color: transparent;
    color: white;
    font-size: 15vh;
    font-weight: 1000;
    z-index: 2;
}
.mainPage-backgroundText{
    position: absolute;
    text-wrap: nowrap;
    overflow: hidden;
    color: orange;
    font-size: 7vh;
    animation: backTextAnimation 50s linear infinite;
    /* opacity: 0.8; */
}


@keyframes backTextAnimation {
    from{
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0%);
    }
}
.downPage-section{
    margin-top: 200vh;
    /* background-color: '#14181b'; */
    background-color: #14181b;
    z-index: 1;
    position: absolute;
    color: white;
    width: 100%;
    height: 500vh;
    transition: all 0.4s ease-out;
}

.aboutme-section{
    margin-top: 20vh;
}



/* Project Section */
.projectSection-content-div{
    margin: 4vh 12vw;
}
.projectSection-upper-content-div{
    display: flex;
    gap: 3vw;
}

.echo-hub-content-div{
    overflow: hidden;
    height: 120vh;
    width: 40vw;
    border-radius: 8vh;
    transition: filter 0.4s ease-out;
}
.echo-hub-content-div img{
    width: 40vw;
    object-fit: cover;
    border-radius: 8vh;
}
.echo-hub-content-div:hover{
    filter: grayscale(1);
}

.typespeed-content-div{

    box-sizing: border-box;
    margin-top: 40vh;
    overflow: hidden;
    height: 80vh ;
    width: 30vw;
    border-radius: 8vh;
    transition: filter 0.2s ease-out;
}
.typespeed-content-div img{
    object-fit: cover;
    width: 30vw;
    border-radius: 8vh;
    transition: all 0.1s ease-out;
}
.typespeed-content-div:hover{
    filter: grayscale(1);
}


.projectSection-lower-content-div{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}

.e-commerce-content-div{
    overflow: hidden;
    border-radius: 8vh;
    height: 70vh;
    width: 50vw;
    object-fit: cover;
    transition: filter 0.4s ease-out;
}
.e-commerce-content-div img{
    width: 50vw;
    border-radius: 8vh;
}
.e-commerce-content-div:hover{
    filter: grayscale(1);
}




/* Cursor div */

.cursor-div{
    color : red;
    position: absolute;
    z-index: 10;
    transition: all 0.2s ease-out;
}

.cursor-echohub-div,
.cursor-typespeed-div,
.cursor-ecom-div{
    position: absolute;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.cursor-echohub-div img,
.cursor-typespeed-div img,
.cursor-ecom-div img{
    height: 30vh;
    border-radius: 2vh;
    /* border: 0.5px solid rgb(201, 198, 198); */
}